* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  main {
    height: 100vh;
    padding-top: 3rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top {
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    margin-right: 1.5rem;
  }
  
  #button {
    padding: 0.4rem;    
    width: 35%;
    margin-top: 10%;
    color: white;
    border-radius: 0.5rem;
    background-color: rgb(58, 190, 146);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(30, 117, 88);
    }
  }
  
  .result {
    width: 121%;
    margin: auto;
    position: relative;
    padding-top: 2rem;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
  }
  
  .container-name {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  
  .container-train {
    padding: 0 2rem;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
    h5 {
      margin-bottom: 0.5rem;
    }
    p {
      color: rgb(255, 155, 97);
      background-color: black;
      padding: 3px 4rem;
    }
  }
  
  .card-train:nth-child(1) {
    margin-right: 3rem;
  }
  
  .metro-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .img {
    padding: 0 2rem;
  }
  
  .metro-img img {
    width: 40%;
  }
  
  .result-footer {
    height: 4rem;
    width: 100%;
    background-color: rgb(58, 190, 146)
  }
  
  #destinationResult{
    width: 20vw;
color: blue;
font-size: 22px;
  }

  #stationResult{
    position: absolute;
    font-size: 16px;
    left: 3%;
      }

      #time{
        position: absolute;
        left: 0;
      }
      #time2{
        position: absolute;
        right: 0;
      }